@import 'reset';

// Colors
$primary-color: hsl(0, 18%, 33%);

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab);
$header-font: 'Roboto Slab', serif;
$body-font: 'Open Sans', sans-serif;

// Styles
body {
    font-family: $body-font;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    color: $primary-color;
}

.my-header {
    font-family: $header-font;
    font-weight: normal;
}

h1 {
    @extend .my-header;   
    font-size: 40px;
    margin: 30px 20px;
}

h2 {
    @extend .my-header;
    font-size: 26px;
    margin: 15px 10px;
}

ul {
    list-style-type: circle;
    li {
        margin-left: 50px;
    }
}

p {
    margin: 15px;
}

code {
    padding: 5px 10px;
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
